
@media screen and (max-width: 575px) {
    .last {
        display: none
    }
    .logo {width: 105px;
        height: 105px;}

}


@media screen and (min-width: 576px)
    p {
        font-family: 'Anton', sans-serif;
    }
    .nav {
        font-family: 'Anton', sans-serif;
    }
    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }

    .dot-circle {
        height: 25px;
        width: 25px;
        background-color: lightgrey;
        border-radius: 50%;
        display: inline-block;
    }
    /*.test {*/
    /*    width: 270px;*/
    /*    height: 320px;*/
    /*    background-color: yellow;*/
    /*}*/

}
.last {
    display: none
}


@media screen and (min-width:768px){

}


@media screen and (min-width:992px){}


@media screen and (min-width:1200px){}