* {
    box-sizing: border-box;
    margin: none;
}
p{
    font-family: 'Anton', sans-serif;
}

body {
    background-color: #F0F0F0;
}

img{
    max-width: 100%;
    max-height:100%;
}

#banner {
    background-color: white;
    width: 100%;
    height: 60px;
    margin: 40px;
    position: absolute;
    z-index: -1;
}

.container {
    max-width: 991px;
    height: 100%;
}

.abel {
    font-family: 'Abel', sans-serif;
}

.anton {
    font-family: 'Anton', sans-serif;
}

.nav-link {
    font-family: 'Abel', sans-serif;
    color: black;
}
.logo {
    width: 105px;
    height: 105px;
}
.circle {
    display: table-cell;
    height: 120px;
    width: 120px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border: 5px solid white;
}
.dot-circle {
    display: inline-block;
    height: 18px;
    width: 18px;
    line-height: 18px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    font-size: 10px;
}

.img-thumbnail {
    border: 5px solid #E6E6E6;
    padding: 0;
}

.selectedwork, .thelast {
     padding-top: 3em;
 }

.project {
    font-size: 16px;
}

.bubbles {
    margin: 0 auto;
    width: 600px;
}

/*xs screen*/
@media screen and (max-width: 575px) {
    .codeup {
        text-align: center;
    }

    .project {
        font-size: 16px;
    }
    .dot-circle {
        display: inline-block;
        height: 18px;
        width: 18px;
        line-height: 18px;
        text-align: center;
        padding: 0;
        border-radius: 50%;
        font-size: 12px;
    }
    .bubbles {
        margin: 0 auto;
        width: 300px;
        /*padding: 5px;*/
    }
}

/*sm screen*/
@media screen and (min-width: 576px) {
    .codeup {
        text-align: center;
    }

    .services {
        margin-left: 125px;
    }
    .blog {
        margin-right: 125px;
    }


}

/*med screen*/
@media screen and (min-width:768px){
    .codeup {
        text-align: left;
    }
    .blog, .services {
        margin: 0;
    }
}

/*lg screen*/
@media screen and (min-width:992px) {
    body {
        padding: 10px;
    }
    .codeup {
        text-align: left;
    }
    .logo {
        margin: 0 auto;
    }

    .blog, .services {
        margin: 0;
    }
}

/*XL screen*/
@media screen and (min-width:1200px){
    .codeup {
        text-align: left;
    }
    .blog, .services {
        margin: 0;
    }

}